.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    gap: var(--nx-sizes-10);
    padding: var(--nx-sizes-4) var(--nx-sizes-8);
    border-bottom: var(--nx-sizes-0\.5) solid var(--nx-colors-border-muted);
}
