.navbar {
    &__list {
        display: flex;
        list-style: none;
    }
    &__list-item {
        position: relative;
        border-bottom: var(--nx-sizes-0\.5) solid transparent;
        &:not(:last-child) {
            margin: 0 var(--nx-sizes-4) 0 0;
        }
        &--active,
        &:hover {
            border-bottom: var(--nx-sizes-0\.5) solid black;
        }
    }

    &--vertical {
        flex-direction: column;
        .navbar__list-item {
            &:not(:last-child) {
                margin: var(--nx-sizes-4) 0;
            }
        }
    }
}
